.sidebarr {
    height: 100vh;
}

.sidebarr .iconn{
    color: #fff !important;
} 

.sidebarr .sb-sidenav-light{
    background-color: #0F153B !important;
}

.sidebarr .linkk{
    text-decoration: none;
    color: #fff;
}

.sidebarr a.active{
    background-color: #4A79CF;
}

.sidebarr .kkkk{
    background-color: #0F153B !important;
}