.bg_table_body {
    background-color: #FFFBE6;
}

.bg_table_head {
    background-color: #fcf4cc;
}

.bg_revenufooter{
    background-color: rgb(232, 232, 232);
}

.bg_revenuheader{
    background-color: rgb(212, 212, 212);
}