.dachboradContent .boxes{
    margin-bottom: 10px;
}
.dachboradContent .boxes .card{
    text-align: center;
    background-color: #444;
    color: #dbdcde;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: none;
}

.dachboradContent .boxes .card .icon{
    font-size: 40px;
    margin-bottom: 10px;
}

.dachboradContent .boxes .one{
    background-color : #D1E9FC;
    color: #061B64;
}
.dachboradContent .boxes .two {
    background-color: #D0F2FF;
    color: #04297A;
}
.dachboradContent .boxes .three {
    background-color: #FFF7CD;
    color: #7A4F01;
}
.dachboradContent .boxes .four {
    background-color: #FFE7D9;
    color: #7A0C2E;
}

.dachboradContent .boxes .box .link{
    text-decoration: none;
}

.dachboradContent .boxes .box .link:hover{
    text-decoration:underline;
}

.dachboradContent .boxes .box .oneLink{
    color: #061B64;
}
.dachboradContent .boxes .box .twoLink{
    color: #04297A;
}

.dachboradContent .boxes .box .threeLink{
    color: #7A4F01;
}

.dachboradContent .boxes .box .fourLink{
    color: #7A0C2E;
}

.dachboradContent .boxes .box .headerr,
.dachboradContent .boxes .box .footerr{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.charts .card{
    background-color: #e9e8e8;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: none;
    
}

.charts .chart1 .statiqueInfoChart {
    padding: 0 30px;
}

.charts .chart1 .statiqueInfoChart .girls .femme {
    width: 20px;
    height: 20px;
    background-color: #0088FE;
    border-radius: 50%;
}

.charts .chart1 .statiqueInfoChart .boys .homme {
    width: 20px;
    height: 20px;
    background-color: #00C49F;
    border-radius: 50%;
}


/* .charts{ 
    margin-top: 20px; 
}

.charts .PieChart{
    background-color: #e9e8e8;
    border-radius: 10px;
}

.charts .chart2 {
    background-color: #e9e8e8;
    border-radius: 10px;
} */

/* .chart1{
    background-color: #e9e8e8;
}*/


.chart2{
    overflow: hidden !important;
} 