/* ------------------------------------------------- */
/* ------------start inscription section------------ */
/* ------------------------------------------------- */
.inscriptionSection {
    padding: 50px 0;
    background: url("../../../public/images/inscrBack.png");
    background-size: cover;
    background-position: center;
}



.inputtt{
    width: 100%;
    color: #fff;
}

.inscriptionSection form input:focus{
    box-shadow:none;
}
/* ------------end inscription section------------ */